#masthead {
  margin: 0 auto;
  max-width: 100%;

}

#container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto
}

#name {
  font-size: 3em;
  color: #33485e;
  text-transform: uppercase;
  border-bottom: 1px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin: auto;
  text-align: center;
}


#title {
  <!-- title edits -->
  color:#33485e;
  text-transform: uppercase;
  font-size: 1.5em;
  text-align: center;
  font-weight: 600;
  margin-top: 20px;
  margin: auto;
}

.sectionheader {
  <!-- section titles -->
  text-transform: uppercase;
  color:#FF0000;
  text-align: center;
  font-size: 3.5em;
}

.headline {
  text-transform: uppercase;
  color:#FF0000;
  text-align: center;
  font-size: 3.5em;
}

.jobtitle {
  font-size: 2em;
  font-weight: 600;
  font-weight: bold;
  text-align: center;
  color: #C13A3A;
}

.organization {
  font-size: 1.5em;
  font-weight: 400;
  text-align: center;
}

.date {
  font-weight: 400;
  font-size: 1em;
  font-style: italic;
  margin-top: 2px;
  text-align: center;
}

.description {
  margin-top: 10px;
  margin-bottom: 10px;
}

.menu {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 1.5em;
}

.menu li {
  display: inline;
}

#degrees {
  margin-top: 5px;
  text-align: center;
  font-size: 1.5em;
  font-family: "Helvetica", Arial, sans-serif;
}

#do {
  margin-top: 5px;
}

.top {
  width: 60%;
  min-width: 300px;
  margin: auto;
  text-align: center;
  font-weight: bold;
  font-size: 2.5em;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

#mattpic {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#skillspic {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#caption {
  text-align: center;
  font-size: 1.15em;
}

p {
  text-align: center;
  font-size: 1.5em;
  font-family: "Helvetica", Arial, sans-serif;
}
