p {
  font-family: georgia, serif;
  line-height: 180%;
}

#headline {
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

#byline {
  font-size: 1em;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

#phillycrime {
  display: block;
  margin-left: -70px;
  margin-right: 70px;
}

#hometowns {
  display: block;
  margin-left: -70px;
  margin-right: 70px;
}

#nbademographics {
  display: block;
  margin-left: -150px;
  margin-right: 150px;
}


#content {
  margin: 0 auto;
  width: 1000px;
}
